<div class="container">
  <%= simple_form_for @tool do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category, as: :select, collection: Tool::CATEGORIES, include_blank: "Select a category" %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Edit" %>
  <% end %>
  <%= link_to 'Back', tools_path %>
</div>
