
<!-- <%= render 'shared/searchbar'  %> -->

<div id="map" style="width: 100%; height: 250px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <% image_url = tool.photo || 'http://placehold.it/50x300' %>
        <div class="card-tool-index card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_url %>');">
          <div class="card-price-show-tools card-price-show">
            <h3>$<%= tool.price %>/day</h3>
          </div>
          <div class="card-description">
            <h2><%= tool.title %></h2>
          </div>
          <img <% avatar_url = current_user.facebook_picture_url || current_user.photo %>
      <%= image_tag avatar_url, class: "avatar-search-page avatar card-user" %>
          <%= link_to "", tool_path(tool), {class: "card-link"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>


