<div class="wrapper-tool-add">
  <div class="container">
    <div class="new-tool-box">
        <%= simple_form_for @tool do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :tags, as: :check_boxes, collection: Tool::CATEGORIES %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
      <div class="text-center">
          <%= f.submit "Create Listing", class: "create-listing-button search-button navbar-wagon-item navbar-wagon-button btn" %>
        <% end %>
        <br>
        <%= link_to 'Back', tools_path %>
      </div>
    </div>
  </div>
</div>
