<div class="container">
  <%= simple_form_for [@tool] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.submit "New tool" %>
  <% end %>
  <%= link_to 'Back', tools_path %>
</div>
