<div class="wrapper-tools-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
          <%= render 'shared/card' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-show text-center card-description-show">
        <%= link_to user_path(current_user) do %>
          <% avatar_url = @user.facebook_picture_url || @user.photo %>
          <%= image_tag avatar_url, class: "avatar-medium" %>
        <% end %>

          <h2 class="before"><%= @user.first_name %>'s <%= @tool.title %></h2>
          <p class="before"><%= @tool.description %>"</p>
          <hr>
          <% if @user != current_user %>
            <%= link_to "Request to Rent", new_tool_booking_path(@tool), class: "tools-show-buttons search-button navbar-wagon-item navbar-wagon-button btn before edit" %>

          <% else %>
            <%= link_to "Edit", edit_tool_path(@tool), {class: "tools-show-buttons search-button navbar-wagon-item navbar-wagon-button btn"}%>
            <%= link_to "Destroy", tool_path(@tool), method: :delete, class: "non-button-link" %>
          <% end %>
          <p><%= link_to 'Back', :back, {class: "non-button-link"} %><p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="map-tool-show" style="width: 100%; height: 250px;"></div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-tool-show' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
