<div class="container">
  <div class="wrapper-tools-show">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <%= render 'shared/card' %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card-show text-center card-description-show">
          <img class="avatar-medium" src="<%= current_user.photo %>">
            <h2><%= @tool.title %></h2>
            <p>"<%= @tool.description %>"</p>
            <%= link_to "Rent it!", new_tool_booking_path(@tool), class: "btn-rent" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-tools-reviews">
  <div class="container">
    <h3>Reviews</h3>
  </div>
</div>

