<div class="wrapper-signup">
  <div class="container signup-box">
    <fieldset>
    <div id="legend">
      <legend class=""><h2>Sign up</h2></legend>

    </div>
    <div class="control-group">


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs form-group">
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :address, required: true %>


      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Sign up", class: "btn-signup" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>


  </div>
</div>
