<div class="wrapper-tool-add">
  <div class="container">
    <div class="new-tool-box text-center">
        <h3>You're booking:</h3>
        <h3><%= @tool.title %></h3>
        <div class="input-daterange input-group booking-form">
            <%= simple_form_for [@tool, @booking] do |f| %>
              <%= f.input :start_time, as: :date, :class => 'datepicker' %>
              <%= f.input :end_time, as: :date, :class => 'datepicker' %>
              <%= f.hidden_field :tool_id, value: @tool.id %>
          <div class="text-center">
              <%= f.submit "Confirm Booking", class: "new-booking-button search-button navbar-wagon-item navbar-wagon-button btn" %>
            <% end %>
          </div>
        </div>
        <h3>for $<%= @tool.price %>/day</h3>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      $('.datepicker').datepicker();
    });
  <% end %>
<% end %>
