<div class="container">
  <div class="wrapper-tools-show">
    <div class="container" id="container-bookings-show">
      <div class="card-show" id="card-bookings-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @tool.photo %>');">
      </div>
         <div class="card-description-show" id="info-bookings-show">
          <h2>Booking Details</h2><br>
          <p><%= @tool.title %></p>
          <p><%= @booking.start_time.strftime("%b %e") %> - <%= @booking.end_time.strftime("%b %e") %></p>
          <p>$<%= @tool.price %> per day</p><br>
          <%= link_to 'Write Review', new_tool_booking_review_path(@tool, @booking), { class: "search-button navbar-wagon-item navbar-wagon-button btn" } %>
          <br><br>
          <p><%= link_to 'Back', :back, { id: "back-link" } %></p>
        </div>
    </div>
  </div>
</div>
<div id="map-bookings-show" style="width: 66%; height: 250px; margin-left: 280px; border-radius: 3px;"></div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-bookings-show' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
