<div class="wrapper-tools-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @tool.photo %>');">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
        <div class="card-show text-center card-description-show">
         <div class="card-description-show">
          <h2>Booking details</h2>
          <p>You rented <%= @tool.title %></p>
          <p>from <%= @booking.start_time.strftime('%b%_d') %> to <%= @booking.end_time.strftime('%b%_d') %></p>
          <p>for <%= @tool.price %> per day</p>
           <%= link_to 'Back', :back, {class: "search-button"} %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
