<div class="container" style="padding-top: 30px;">
  <h1 class="page-header">My Profile</h1>
  <div class="row ">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12 avatar-profile">
      <div class="text-center">
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar avatar-xlarge" %>
      </div>

      <div id="new-photo-upload" >
        <h6 class="text-center">Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm photo-uploader">
      </div>
    </div>

    <!-- edit form column -->

    <div class="container">
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <%= render "/shared/user_form", :locals => {:editable => false} %>
      </div>
    </div>
    <div class="profile-tools-header">
      <h2 class="page-header inline-block ">My Tools<%= link_to "", new_tool_path, class: "btn btn-default plus-btn fa fa-plus", title: "Edit"%></h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/200/200/nature');">
          <div class="card-category"><%= tool.category %></div>
          <div class="card-description">
            <h2><%= tool.title %></h2>
            <p><%= tool.description %></p>
          </div>
          <%= link_to "", tool_path(tool), {class: "card-link"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>




