<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand navbar-wagon-link"><img src="<%= asset_path( 'logo.svg' ) %>" class="logo-icon"></a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Navigation buttons -->
    <%= link_to "CREATE LISTING", new_tool_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Log Out Link -->
    <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Avatar Link to Profile -->
    <%= link_to user_path(current_user) do %>
      <% avatar_url = current_user.facebook_picture_url || current_user.photo %>
      <%= image_tag avatar_url, class: "avatar" %>
    <% end %>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Log Out</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>

