<%= render 'shared/banner'  %>

<div class="wrapper-categories">
  <div class="container text-center">

    <h1 class="text-center"><strong>Categories</strong></h1>
    <%= render 'shared/page_break_icon' %>

  </div>
  <div class="container text-center">
    <div class="row">

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="card-home">
          <a href="/tools?category=painting" ><img src="<%= asset_path( 'icon_light_paintbrush.svg' ) %>" class="home-icons">
          <p>Painting Tools</p></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <div class="card-home">
          <a href="/tools?category=hand+tools" ><img src="<%= asset_path( 'icon_light_tools.svg' ) %>" class="home-icons">
          <p>Hand Tools</p></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <div class="card-home">
          <a href="/tools?category=entertainment" ><img src="<%= asset_path( 'icon_light_speakers.svg' ) %>" class="home-icons">
          <p>Entertainment</p></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <div class="card-home">
          <a href="/tools?category=Landscaping" ><img src="<%= asset_path( 'icon_light_flower.svg' ) %>" class="home-icons">
          <p>Landscaping</p></a>
        </div>
      </div>

    </div>
  </div>
</div>
