<%= render 'shared/banner'  %>

<div class="wrapper-categories">
    <h1 class="text-center"><strong>Categories</strong></h1>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 text-center">
          <div class="card-home">
            <img src="<%= asset_path( 'icon_light_tent.svg' ) %>" class="home-icons">
            <p>Camping Supplies</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <div class="card-home">
            <img src="<%= asset_path( 'icon_light_paintbrush.svg' ) %>" class="home-icons">
            <p>Painting Tools</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <div class="card-home">
            <img src="<%= asset_path( 'icon_light_tools.svg' ) %>" class="home-icons">
            <p>Hand & Power Tools</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <div class="card-home">
            <img src="<%= asset_path( 'icon_light_speakers.svg' ) %>" class="home-icons">
            <p>Entertainment Equipment</p>
          </div>
        </div>
    </div>
  </div>
</div>
