<%= render 'shared/banner'  %>

<div class="wrapper-categories">
  <div class="container text-center">
    <h1 class="text-center"><strong>Categories</strong></h1>
    <img src="<%= asset_path( 'logo_line_break.svg' ) %>" class="page-break-icon">
  </div>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 text-center">
          <div class="card-home">
            <a href="/tools?category=landscaping" ><img src="<%= asset_path( 'icon_light_tent.svg' ) %>" class="home-icons">
            <p>Camping Supplies</p></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <div class="card-home">
            <a href="/tools?category=landscaping" ><img src="<%= asset_path( 'icon_light_paintbrush.svg' ) %>" class="home-icons">
            <p>Painting Tools</p></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <div class="card-home">
            <a href="/tools?category=landscaping" ><img src="<%= asset_path( 'icon_light_tools.svg' ) %>" class="home-icons">
            <p>Hand & Power Tools</p></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <div class="card-home">
            <a href="/tools?category=landscaping" ><img src="<%= asset_path( 'icon_light_speakers.svg' ) %>" class="home-icons">
            <p>Entertainment</p></a>
          </div>
        </div>
    </div>
  </div>
</div>
