<div class="container" style="padding-top: 30px;">
  <h1 class="page-header">My Profile</h1>
  <div class="row ">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12 avatar-profile">
      <div class="text-center">
        <img  <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url, class: "avatar avatar-xlarge" %>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <form class="form-horizontal" role="form">
        <h3 class="text-center personal-info-title">Personal info</h3>
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control form-edit" value="<%= current_user.first_name %>"  type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last Name:</label>
          <div class="col-lg-8">
            <input class="form-control form-edit" value="<%= current_user.last_name %>"  type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control form-edit" value="<%= current_user.email %>"  type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Address:</label>
          <div class="col-lg-8">
            <input class="form-control form-edit" value="<%= current_user.address %>"  type="text">
          </div>
        </div>

    <div class="form-group">
          <button class="btn btn-primary edit-button-profile" id="profile-edit-button" type="button">Edit</button>
          <input class="btn btn-primary save-button-profile" id="profile-save-button" type="button" value="Save">
          </input>
          <button class="btn btn-primary cancel-button-profile" id="cancel-edit-button" type="button">Cancel</button>
    </div>
    </form>
  </div>

  <h2 class="page-header">My Tools<%= link_to "", new_tool_path, class: "btn btn-default plus-btn fa fa-plus", title: "Edit"%></h2>

<div class="container">
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/200/200/nature');">
          <div class="card-category"><%= tool.category %></div>
          <div class="card-description">
            <h2><%= tool.title %></h2>
            <p><%= tool.description %></p>
          </div>
          <%= link_to "", tool_path(tool), {class: "card-link"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>




<% content_for(:after_js) do %>
  <% javascript_tag do %>
    $(document).ready( function() {
      console.log("HELLO");
      // Toggling whether the form is enabled or disabled.

      // Disabled by Default
      $(".form-edit").prop('disabled', true);
      $("button#cancel-edit-button").hide();
      $("input#profile-save-button").hide();

      // Enable form when clicking edit
      $("button#profile-edit-button").click(function() {
        console.log("hey sup");
        $( ".form-edit").prop('disabled', false );
      });

      // Upon clicking edit, hide edit button and show save/cancel
      $( "button#profile-edit-button" ).click(function() {
        $( "input#profile-save-button" ).show();
        $( "button#cancel-edit-button" ).show();
        $( "button#profile-edit-button" ).hide();
      });

      // Disable form if they cancel
      $("button#cancel-edit-button").click(function() {
        console.log("holla");
        $( ".form-edit").prop('disabled', true);
      });

      // Upon clicking edit, hide edit button and show save/cancel
      $( "button#cancel-edit-button" ).click(function() {
        $( "input#profile-save-button" ).hide();
        $( "button#cancel-edit-button" ).hide();
        $( "button#profile-edit-button" ).show();
      });
    });
  <% end %>
<% end %>



</div>
