<div class="wrapper-tool-add">
  <div class="container">
    <div class="new-tool-box">
        <%= simple_form_for [@tool, @booking, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, collection: 1..5 %>
      <div class="text-center">
          <%= f.submit "Publish Review", class: "create-listing-button search-button navbar-wagon-item navbar-wagon-button btn" %>
        <% end %>
        <br>
        <br>
        <%= link_to 'Back', :back %>
      </div>
    </div>
  </div>
