<div class="container">
  <%= simple_form_for(@review) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "New review" %>
<% end %>

  <%= link_to 'Back', reviews_path(@review) %>
</div>
